/*

!/.devcontainer

!/nbproject
/nbproject/private/

!/.gitignore
!/build.xml

!/administrator
/administrator/*

!/administrator/components
/administrator/components/*
!/administrator/components/com_cesesubmitproposal

!/administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/*cesesubmitproposal*

!/administrator/manifests
/administrator/manifests/*
!/administrator/manifests/packages
/administrator/manifests/packages/*
!/administrator/manifests/packages/*cesesubmitproposal*

!/components
/components/*
!/components/com_cesesubmitproposal

!/language
/language/*
!/language/en-GB
/language/en-GB/*
!/language/en-GB/*cesesubmitproposal*

!/media
/media/*
!/media/com_cesesubmitproposal

!/docker-compose.yml
!/README.md
!/99-overrides.ini
