/*

!/.devcontainer

!/nbproject
/nbproject/private/

!/.gitignore
!/build.xml

!/administrator
/administrator/*

!/administrator/components
/administrator/components/*
!/administrator/components/com_phimpersonate

!/administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/*phimpersonate*

!/administrator/manifests
/administrator/manifests/*
!/administrator/manifests/packages
/administrator/manifests/packages/*
!/administrator/manifests/packages/*phimpersonate*
!/administrator/manifests/libraries
/administrator/manifests/libraries/*
!/administrator/manifests/libraries/*spcyend*
!/administrator/manifests/libraries/*kainotomo*

!/components
/components/*
!/components/com_phimpersonate

!/language
/language/*
!/language/en-GB
/language/en-GB/*
!/language/en-GB/*phimpersonate*
!/language/en-GB/*kainotomo*
!/language/en-GB/*spcyend*

!/libraries
/libraries/*
!/libraries/kainotomo
!/libraries/spcyend

!/media
/media/*
!/media/com_phimpersonate

!/docker-compose.yml
!/README.md
!/99-overrides.ini
